<div class="navbar">
  <%= link_to "Home", "#", class: "active-link" %>
  <%= link_to "Spotify", "https://open.spotify.com/artist/7oO9C1YQHV22qKRXU8bcCy" , target: "_blank", class: "inactive-link" %>
  <%= image_tag "ss-logo.jpg", class: "navbar-icon" %>
  <%= link_to "YouTube", "https://www.youtube.com/channel/UC0BWpVM1p8AgSBHB79OmXsA" , target: "_blank", class: "inactive-link" %>
  <%= link_to "Contact", "/contact.html", class: "inactive-link" %>
</div>
<div class="nav-dropdown">
  <i class="fas fa-chevron-circle-down mb-3" id="dropdown"></i>
  <div class="dropdown-content">
    <%= link_to "Home", "#", class: "active-link", id: "dropdown-links" %>
    <%= link_to "Spotify", "https://open.spotify.com/artist/7oO9C1YQHV22qKRXU8bcCy" , target: "_blank", class: "inactive-link", id: "dropdown-links" %>
    <%= link_to "YouTube", "https://www.youtube.com/channel/UC0BWpVM1p8AgSBHB79OmXsA" , target: "_blank", class: "inactive-link", id: "dropdown-links" %>
    <%= link_to "Contact", "/contact.html", class: "inactive-link", id: "dropdown-links" %>
  </div>
</div>
